:root {
  --color-white: #fff;
  --color-green: #02835e;
  --color-dark-green: #245852;
  --color-black-text: #292929;
  --color-grey-text: #424242;
  --color-green-transparent:rgb(1, 153, 109, .20);
  
}