.header {
  background-color: var(--color-white);

}

.header__wrapper {
  font-size: 20px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo {
  height: 24px;
  width: 81px;
  margin-right: 178px;
  flex-shrink: 0;
}

.header__navigation {
  color: var(--color-black-text);
  display: flex;
  align-items: center;
  gap: 72px;
}

.nav__list {
  font-weight: 500;
  display: flex;
  gap: 72px;
  align-items: center;
  margin-right: 283px;
}

.nav__list-link {
  white-space: nowrap;
}

.header__signin-block {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 992px  768px 576px 480px*/
@media (max-width: 992px) {
  .nav__list-link {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
    width: 150px;
  }
}

@media (max-width: 480px) {
  .nav__list {

    display: none;

  }

  .logo {

    margin-right: 50px;

  }




}